In [1]:
import pandas as pd

## 1. Read a .csv from a URL with pandas

In [5]:
# reading csv from the link
df_premier24 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2425/E0.csv")

In [7]:
# showing dataframe
df_premier24.head()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,16/08/2024,20:00,Man United,Fulham,1,0,H,0,0,...,1.86,2.07,1.83,2.11,1.88,2.11,1.82,2.05,1.90,2.08
1,E0,17/08/2024,12:30,Ipswich,Liverpool,0,2,A,0,0,...,2.05,1.88,2.04,1.90,2.20,2.00,1.99,1.88,2.04,1.93
2,E0,17/08/2024,15:00,Arsenal,Wolves,2,0,H,1,0,...,2.02,1.91,2.00,1.90,2.05,1.93,1.99,1.87,2.02,1.96
3,E0,17/08/2024,15:00,Everton,Brighton,0,3,A,0,1,...,1.87,2.06,1.86,2.07,1.92,2.10,1.83,2.04,1.88,2.11
4,E0,17/08/2024,15:00,Newcastle,Southampton,1,0,H,1,0,...,1.87,2.06,1.88,2.06,1.89,2.10,1.82,2.05,1.89,2.10

In [8]:
# rename columns
df_premier24.rename(columns={'Date':'date'})

,Div,date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,16/08/2024,20:00,Man United,Fulham,1,0,H,0,0,...,1.86,2.07,1.83,2.11,1.88,2.11,1.82,2.05,1.90,2.08
1,E0,17/08/2024,12:30,Ipswich,Liverpool,0,2,A,0,0,...,2.05,1.88,2.04,1.90,2.20,2.00,1.99,1.88,2.04,1.93
2,E0,17/08/2024,15:00,Arsenal,Wolves,2,0,H,1,0,...,2.02,1.91,2.00,1.90,2.05,1.93,1.99,1.87,2.02,1.96
3,E0,17/08/2024,15:00,Everton,Brighton,0,3,A,0,1,...,1.87,2.06,1.86,2.07,1.92,2.10,1.83,2.04,1.88,2.11
4,E0,17/08/2024,15:00,Newcastle,Southampton,1,0,H,1,0,...,1.87,2.06,1.88,2.06,1.89,2.10,1.82,2.05,1.89,2.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,25/05/2025,16:00,Newcastle,Everton,0,1,A,0,0,...,2.00,1.85,2.01,1.90,2.01,1.95,1.95,1.91,1.93,2.05
376,E0,25/05/2025,16:00,Nott'm Forest,Chelsea,0,1,A,0,0,...,1.80,2.05,1.86,2.08,1.86,2.08,1.81,2.05,1.86,2.14
377,E0,25/05/2025,16:00,Southampton,Arsenal,1,2,A,0,1,...,2.03,1.83,2.04,1.87,2.07,1.87,2.03,1.83,2.06,1.89
378,E0,25/05/2025,16:00,Tottenham,Brighton,1,4,A,1,0,...,1.95,1.90,2.00,1.93,2.01,1.93,1.95,1.89,2.06,1.93
379,E0,25/05/2025,16:00,Wolves,Brentford,1,1,D,0,1,...,1.85,2.00,1.90,2.03,1.90,2.05,1.85,1.97,1.89,2.10

## 2. Read .csv from Multiple URLs with Pandas

In [25]:
# link structure
leagues = ["0", "1", "2", "3", "C"]
frames = []
for league in leagues:
    df = pd.read_csv("https://www.football-data.co.uk/mmz4281/2425/E"+ league +".csv")
    frames.append(df)

In [28]:
# length of frames
len(frames)

5

In [31]:
# show 1st, 2nd and 3rd element

frames[:2]

[    Div        Date   Time       HomeTeam     AwayTeam  FTHG  FTAG FTR  HTHG  \
 0    E0  16/08/2024  20:00     Man United       Fulham     1     0   H     0
 1    E0  17/08/2024  12:30        Ipswich    Liverpool     0     2   A     0
 2    E0  17/08/2024  15:00        Arsenal       Wolves     2     0   H     1
 3    E0  17/08/2024  15:00        Everton     Brighton     0     3   A     0
 4    E0  17/08/2024  15:00      Newcastle  Southampton     1     0   H     1
 ..   ..         ...    ...            ...          ...   ...   ...  ..   ...
 375  E0  25/05/2025  16:00      Newcastle      Everton     0     1   A     0
 376  E0  25/05/2025  16:00  Nott'm Forest      Chelsea     0     1   A     0
 377  E0  25/05/2025  16:00    Southampton      Arsenal     1     2   A     0
 378  E0  25/05/2025  16:00      Tottenham     Brighton     1     4   A     1
 379  E0  25/05/2025  16:00         Wolves    Brentford     1     1   D     0

      HTAG  ... B365CAHH B365CAHA  PCAHH  PCAHA  MaxCAHH  MaxCAHA  AvgCAHH  \
 0       0  ...     1.86     2.07   1.83   2.11     1.88     2.11     1.82
 1       0  ...     2.05     1.88   2.04   1.90     2.20     2.00     1.99
 2       0  ...     2.02     1.91   2.00   1.90     2.05     1.93     1.99
 3       1  ...     1.87     2.06   1.86   2.07     1.92     2.10     1.83
 4       0  ...     1.87     2.06   1.88   2.06     1.89     2.10     1.82
 ..    ...  ...      ...      ...    ...    ...      ...      ...      ...
 375     0  ...     2.00     1.85   2.01   1.90     2.01     1.95     1.95
 376     0  ...     1.80     2.05   1.86   2.08     1.86     2.08     1.81
 377     1  ...     2.03     1.83   2.04   1.87     2.07     1.87     2.03
 378     0  ...     1.95     1.90   2.00   1.93     2.01     1.93     1.95
 379     1  ...     1.85     2.00   1.90   2.03     1.90     2.05     1.85

      AvgCAHA  BFECAHH  BFECAHA
 0       2.05     1.90     2.08
 1       1.88     2.04     1.93
 2       1.87     2.02     1.96
 3       2.04     1.88     2.11
 4       2.05     1.89     2.10
 ..       ...      ...      ...
 375     1.91     1.93     2.05
 376     2.05     1.86     2.14
 377     1.83     2.06     1.89
 378     1.89     2.06     1.93
 379     1.97     1.89     2.10

 [380 rows x 120 columns],
     Div        Date   Time          HomeTeam          AwayTeam  FTHG  FTAG  \
 0    E1  09/08/2024  20:00         Blackburn             Derby     4     2
 1    E1  09/08/2024  20:00           Preston  Sheffield United     0     2
 2    E1  10/08/2024  12:30           Cardiff        Sunderland     0     2
 3    E1  10/08/2024  12:30              Hull      Bristol City     1     1
 4    E1  10/08/2024  12:30             Leeds        Portsmouth     3     3
 ..   ..         ...    ...               ...               ...   ...   ...
 547  E1  03/05/2025  12:30  Sheffield United         Blackburn     1     1
 548  E1  03/05/2025  12:30        Sunderland               QPR     0     1
 549  E1  03/05/2025  12:30           Swansea            Oxford     3     3
 550  E1  03/05/2025  12:30           Watford    Sheffield Weds     1     1
 551  E1  03/05/2025  12:30         West Brom             Luton     5     3

     FTR  HTHG  HTAG  ... B365CAHH B365CAHA  PCAHH  PCAHA  MaxCAHH  MaxCAHA  \
 0     H     1     0  ...     1.85     2.05   1.85   2.06     1.97     2.10
 1     A     0     1  ...     1.92     1.98   1.93   1.98     1.97     1.99
 2     A     0     1  ...     2.11     1.79   2.13   1.80     2.13     1.81
 3     D     0     0  ...     1.99     1.91   2.00   1.91     2.04     1.91
 4     D     1     2  ...     1.92     1.98   1.93   1.95     2.00     1.98
 ..   ..   ...   ...  ...      ...      ...    ...    ...      ...      ...
 547   D     0     0  ...     1.89     2.01   1.90   2.01     1.91     2.11
 548   A     0     1  ...     2.01     1.89   2.04   1.88     2.19     1.89
 549   D     1     1  ...     2.02     1.88   2.03   1.88     2.08     1.89
 550   D     1     1  ...     1.85     2.00   1.86   2.05     2.00     2.05
 551   H     3     1  ...     1.91     1.99   1.89   2.01     1.97     2.01

      AvgCAHH  AvgCAHA  BFECAHH  BFECAHA
 0       1.85     1.99     1.88     2.11
 1       1.90     1.94     1.94     2.04
 2       2.09     1.79     2.18     1.83
 3       1.99     1.87     2.03     1.96
 4       1.94     1.89     2.00     1.97
 ..       ...      ...      ...      ...
 547     1.84     2.04     1.89     2.10
 548     2.04     1.81     2.16     1.82
 549     2.00     1.85     2.09     1.89
 550     1.92     1.94     2.00     1.99
 551     1.87     1.94     1.92     2.05

 [552 rows x 120 columns]]

In [39]:
# all leagues with seasons
leagues = ["0", "1", "2", "3", "C"]
seasons = ["2021", "2122", "2223", "2324", "c425"]
frames = []
for season in seasons:
    for league in leagues:
        df = pd.read_csv("https://www.football-data.co.uk/mmz4281/"+ season +"/E"+ league +".csv", encoding="unicode_escape")
        frames.append(df)

In [40]:
len(frames)

25

In [42]:
frames[3]

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E3,12/09/2020,15:00,Barrow,Stevenage,1,1,D,1,0,...,1.76,-0.25,1.95,1.90,1.93,1.98,1.98,1.99,1.91,1.92
1,E3,12/09/2020,15:00,Bolton,Forest Green,0,1,A,0,0,...,1.79,-0.25,2.02,1.83,2.04,1.87,2.09,1.90,2.00,1.83
2,E3,12/09/2020,15:00,Bradford,Colchester,0,0,D,0,0,...,1.65,-0.25,2.07,1.72,2.11,1.82,2.20,1.82,2.09,1.76
3,E3,12/09/2020,15:00,Cambridge,Carlisle,3,0,H,2,0,...,1.70,-0.25,1.98,1.88,2.02,1.88,2.04,1.90,1.99,1.84
4,E3,12/09/2020,15:00,Cheltenham,Morecambe,1,2,A,1,0,...,1.75,-0.50,1.83,2.02,1.87,2.04,1.88,2.09,1.83,2.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,E3,08/05/2021,15:00,Port Vale,Mansfield,0,3,A,0,2,...,1.84,0.25,1.90,1.95,1.89,2.00,1.95,2.07,1.85,1.97
548,E3,08/05/2021,15:00,Scunthorpe,Stevenage,0,1,A,0,0,...,1.73,0.50,1.80,2.05,1.84,2.06,1.87,2.14,1.77,2.07
549,E3,08/05/2021,15:00,Southend,Newport County,1,1,D,1,0,...,1.44,0.50,1.93,1.93,1.94,1.94,1.97,1.97,1.91,1.91
550,E3,08/05/2021,15:00,Tranmere,Colchester,0,0,D,0,0,...,1.59,-0.75,2.05,1.80,2.05,1.85,2.08,1.89,2.01,1.82
551,E3,08/05/2021,16:00,Salford,Leyton Orient,3,0,H,1,0,...,1.87,-1.00,1.98,1.88,1.99,1.90,2.01,1.96,1.96,1.86